@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: #0AA1DD;
  --primary-colour: #E8F9FD;
  --font-family: 'Instrument Serif', sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--primary-colour);
  
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: var(--font-family);
}

h1 {
  font-size: 5em;
}

h3 {
  font-size: 2em;
  margin-top: 20px;
}

.message {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--primary-colour);
  display: inline-block;
  font-size: 4em;
  padding: 10px;
  margin: 20px;
}

.play-again {
  display: none;
  flex-direction: column;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  padding: 8px 15px;
  border: 0;
  background-color: var(--primary-colour);
  border-radius: 5px;
  margin-top: 20px;
  color: black;
}